:root {
  --primary-color: #f3f3f3;

  --secondary-color: #f4be16;
  --background-color: #c2b8b6;
  --main-color: #392a1a;
}
body {
  background: var(--secondary-color);
}

h1 {
  color: var(--secondary-color);
  font-family: "Exo 2", sans-serif;
}
h2 {
  color: var(--main-color);
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
}
h3 {
  color: var(--secondary-color);
  font-size: 26px;
  text-align: start;
}
h4 {
  font-family: "Quicksand", sans-serif;
  color: var(--main-color);
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
p {
  font-family: "Quicksand", sans-serif;
  color: var(--main-color);
  font-size: 18px;
  margin-bottom: 0;
  text-align: justify;
}

section {
  border: 1px solid var(--primary-color);
  padding: 0ex;
  background: var(--primary-color);
}
div.cv {
  padding: 50px 180px;
  margin: 0px;
}
nav .last-update {
  font-size: 12px;
  padding: 2px 0px 0px 450px;
}
.about {
  color: var(--main-color);
}
.about-me-wrapper {
  position: relative;
  margin: 10px 80px;
  padding: 0px 10px;
  background: var(--primary-color);
}
.wrapper {
  position: relative;
  margin: 10px 80px;
  background: var(--primary-color);
}
.nav-color {
  background: var(--secondary-color);
}

.project-description {
  padding: 0px 50px;
}
.project-photos {
  margin: 10px 350px;
}
.big-letter {
  font-size: 30px;
}
.carousel-item {
  transition: transform 1s ease-in-out;
}
.btn-customized {
  font-size: 12px;
  color: var(--main-color);
  background: var(--secondary-color);
}
.container {
  position: relative;
}


.go-to-bnm-link {
  position: fixed;
  top: 250px;
  left: 20px;
  text-decoration: none;
  font-size: 12px;
  color: var(--primary-color);
  background: #c2642d;
  font-weight: bold;
  padding: 8px 34px;
}
.go-to-bnm-link :hover{
    color: var(--main-color);
  background: var(--background-color);
}
.go-to-alfred-link {
  position: fixed;
  top: 300px;
  left: 20px;
  text-decoration: none;
  font-size: 12px;
  color: var(--primary-color);
  background: #944746;
  font-weight: bold;
  padding: 8px 31px;
}

.go-to-solin-link {
  position: fixed;
  top: 350px;
  left: 20px;
  text-decoration: none;
  font-size: 12px;
  color: var(--primary-color);
  background: #4674bf;
  font-weight: bold;
  padding: 8px 34px;
}
.go-to-aysu-link{
   position: fixed;
  top: 400px;
  left: 20px;
  text-decoration: none;
  font-size: 12px;
  color: var(--primary-color);
  background: #8d44d1;
  font-weight: bold;
  padding: 8px 20px;
}

img.packaging {
  width: 60%;
}

.go-top {
  font-size: 12px;
  color: var(--main-color);
  background: var(--primary-color);
  padding: 5px 10px;
  text-align: center;
  margin: 0 auto;
}

footer a {
  font-size: 30px;
  padding: 8px;
  border-radius: 15px;
  color: #392a1a;
}
footer .social-links i:hover {
  color: var(--primary-color);
}
footer .contact-me {
  font-size: 14px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 14px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }

  .about-me-wrapper {
    margin: 10px 10px;
  }
  .aboutme-video {
    width: 99%;
  }
  .wrapper {
    margin: 10px;
    padding: 30px;
  }

  .project-description {
    padding: 0px;
    margin: 0px;
  }
  .project-photos {
    margin: 0;
    padding: 10px 0px;
  }

  .btn-customized {
    font-size: 10px;
  }
  .go-top {
    font-size: 8px;
    margin-bottom: 10px;
  }

  div.cv {
    padding: 0px;
    margin: 0px;
  }
  footer a {
    font-size: 15px;
  }
  footer .contact-me {
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  footer img {
    display: inline;
    width: 50px;
  }
}
