:root {
  --primary-color: #f3f3f3;

  --secondary-color: #f4be16;
  --background-color: #c2b8b6;
  --main-color: #392a1a;
}
body {
  background: var(--secondary-color);
}

h1 {
  color: var(--secondary-color);
  font-family: "Exo 2", sans-serif;
}
h2 {
  color: var(--main-color);
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
}
h3 {
  color: var(--secondary-color);
  font-size: 20px;
  text-align: start;
}
h4 {
  font-family: "Quicksand", sans-serif;
  color: var(--main-color);
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
p {
  font-family: "Quicksand", sans-serif;
  color: var(--main-color);
  font-size: 18px;
  margin-bottom: 0;
  text-align: justify;
}

section {
  border: 1px solid var(--primary-color);
  padding: 0ex;
  background: var(--primary-color);
}
div.cv {
  padding: 0px 120px;
  margin: 0px;
}
.about {
  color: var(--main-color);
}
.about-me-wrapper {
  position: relative;
  margin: 10px 80px;
  padding: 0px 10px;
  background: var(--primary-color);
}
.wrapper {
  position: relative;
  margin: 10px 50px;
  background: var(--primary-color);
}
.nav-color {
  background: var(--secondary-color);
}

.project-description {
  padding: 0px 50px;
}
.project-photos {
  margin: 10px 350px;
}
.carousel-item {
  transition: transform 1s ease-in-out;
}
.btn-customized {
  font-size: 12px;
  color: var(--main-color);
  background: var(--secondary-color);
}
img.packaging {
  width: 60%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 14px;
  }
  h2 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .about-me-wrapper {
    position: relative;
    margin: 10px 10px;
  }
  .wrapper {
    margin: 10px;
    padding: 30px;
  }
  .btn-customized {
    font-size: 10px;
  }

  div.cv {
    padding: 0px;
    margin: 0px;
  }
}
